.project-container {
  width: 100%;
  height: 400px;
}

// .project {
//   width: 100%;
//   object-fit: cover;
//
//   .card-content {
//     border-top: 1px solid $prime_gray;
//     overflow: visible;
//   }
// }
.portfolio {

  .card.large {

    .card-content {
      border-top: 1px solid #2D3A3A;
      overflow: visible;
    }
  }
}
