@import 'partials/reset';
@import 'partials/portfolio';

// sass --watch main.scss:style.css

$primary_color: #235789;
$secondary_color: #083D77;
$thirdinary_color: #FDFFFC;
$off_white: #EBEBD3;
$off_black: #040404;
$prime_gray: #2D3A3A;

$primary_font: 'Open Sans', sans-serif;
$header_font: 'Open Sans', sans-serif;

nav {
  height: 80px;
  padding: 0 50px;
  background-color: $off_black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  li {
    font-size: 16px;
  }

  ul a:hover {
    text-decoration: underline;
  }

  .logo {
    min-width: 160px;
    padding-top: 20px;
  }

  ul {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

body {
  font-family: $primary_font;
  background: $off_white;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header_font;
  }

  h1 {
    font-size: 30px;
    padding: 30px 0 15px;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    margin: 20px auto;
  }
  h3 {
    font-size: 18px;
  }

  p, li, a {
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
  }

  span.bold {
    font-weight: 700;
  }
}

header {
  // height: 60vh;
  color: $off_black;
  padding: 80px 0;
  background: $primary_color;

  h1 {
    font-size: 300%;
    margin: 10px 0;
    text-shadow: 2px 2px 3px $off_black;
  }

  h2 {
    font-size: 40px;

    .bold {
      font-weight: 700;
    }
  }

  h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px $off_black;
  }

  .header-image {
    width: 100%;
    border-radius: 50%;
  }
}

.tech {
  i {
    font-size: 100px;
    margin-bottom: 25px;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#about {
  background-color: $primary_color;

  .me {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
  }
}

#contact {
  height: 180px;
  background-color: $primary_color;

}

#footer {
  background-color: $primary_color;
}

.page-footer {
  background: $primary_color;

  p {
    color: $off_white;
  }

  .bullet {
    margin-left: 5px;
  }

  ul.footer-icons {
    background: $primary_color;
    display: flex;
    justify-content: flex-start;

    li {
      font-size: 20px;
      color: $off_white;
      background: $primary_color;
      margin: 0 30px 0 0;
    }

    i {
      color: $off_white;
      font-size: 50px;
    }
  }
  .footer-icons li a {
    font-size: 50px;
    color: $off_white;
  }
}
