@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 0.5s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 0 8px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
